<h1>Nombre: {{this.name}}</h1>
<h2>Precio: {{this.price}}</h2>
<h2>Categoria: {{this.category}}</h2>
<h2>Stock: {{this.stock}}</h2>
<button onclick="addToCart('{{this._id}}')">Agregar al carrito</button>

<script src="/js/products.js"></script>